@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Start Code*/

/* color palette
#0d0d0d--black
#f2f2f2--grey
#7abfbd-- turqoise
Rgba(122, 191, 191, .5 --light blue
#eb5428-- orange
*/
html {
    background-color: rgba(122, 191, 191, .5);
    font-family: 'Bebas Neue','Montserrat', sans-serif; 
   
}
body {
    background-color: #F2F2F2;
    width: 414px;
    margin: 0 auto;
    display: grid;
    grid-template-areas: 
    "header"
    "details"
    "ingredients"
    "directions"
    "aside"
    "footer";
}
header {
    margin-block-start: 48%;
    justify-content: center;
    text-align: center;
    
}
header, img {
    inline-size: 100%;
    justify-content: center;
}
h1 {
    text-align: center;
     font-family: 'Bebas Neue', 'Lobster Two', sans-serif; 
     color: #0d0d0d;
     font-size: 40px;
}
figure img{
    block-size: auto;
    max-inline-size: 100%;
}
h2 {
    font-size: 30px;
}
h3 {
    font-size: 25px;
}

nav a {
    color: #eb5428;
    font-size: 20px;
}
nav span {
    font-size: 20px;

}
a:hover{
    color: #F2F2F2;
    background-color: #eb5428;
    inline-size: auto;
    block-size: inherit;
}

menu li {
    font-family: 'Bebas Neue'; 
    display: inline-flex;
    font-size: 20px;
    color: #eb5428;
    justify-content: center;
    text-decoration: none;

}
menu li a {
    text-decoration: none;
    color: #eb5428;  
}

p {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

#details h2 {
    text-align: center;
    color: #0d0d0d;
    
}

#details dd {
    font-family:'Montserrat', sans-serif; 
    color:  #0d0d0d;
    text-align: start;
}

#Ingredients h2{
    text-align: center;
    
}
#Ingredients ul{
    list-style-type: disc;
    padding-inline-start: 20px;
    font-family: 'Montserrat', sans-serif;
}

#directions h2 {
    text-align: center;
}
#directions ol{
    list-style-type: decimal;
    padding: 25px;
    font-family:'Montserrat', sans-serif ;
}
#directions li{
    padding-block-end: 10px;
}
#dishes  {
    display: grid;
    background-color:#7abfbf;
    color: #0d0d0d;
    grid-template-columns: 1fr 1fr;
    text-align: center;
} 
.foodpic {
    grid-column-start: 1;

}
.rating {
    grid-column-start: 2;
    text-align: center;
}
#nav {
    justify-content: center;
}
#nav h2 {
    display: none;
}
#nav nav ul {
    display: flex;
    text-align-last: auto;
    inline-size: auto;
    margin: 0 auto;
    position: absolute;
    inset-block-start: 0;
    
    
}
#nav nav a {
    display: flex;
    font-size: 16px;
    text-decoration: none;
    
}
#connect {
    color: #eb5428;
}
#cooking h1{
    text-align: center;
}
#cooking ol li {
        list-style-type: decimal;
        padding-inline-start: 200px;
        padding-inline-end: 100px;
}
#search{
    
    border: 1px solid #eb5428;
    position: absolute;
    inset-block-start: 8%;
    display: inline-flex;
    
    
}
#connect {
    display: flex;
    padding-block-start: 30px;
    inline-size: 80%;
}
#connect h3 {
    display: none;
}
#connect h4 {
    display: none;
}
#connect h5 {
    display: none;
}
#connect, a {
    text-decoration: none;
   justify-content: center;
   vertical-align: bottom;
   inline-size: auto;
   padding: 20px;
   color: #eb5428;
   
}
#connect, a:hover{
    color: #F2F2F2;
    
}

footer {
    font-family:'Bebas Neue';
    text-align: center;
    margin-inline-start: 0%;
}      
footer img {
    margin-block-start: 0%;
    inline-size: 50%;
    margin-block-end: 50px;
    
}
@media screen and (min-width: 768px) {
    body {
        width: 760px
    }
}
@media screen and (min-width: 1280px) {
    body{
        width: 1200px;
    }
    header{
        margin-block-start: 15%;
        
    }
    #details h2 {
        background-color: #0d0d0d; 
        text-align: center;
        color: #7abfbf;
    }
    #details dl {
        text-align: center;
        display: flex;
        padding-inline-start: 10%;
        background-color: #0d0d0d; 
        color: #7abfbf;     
    } 
    #details dt {
    
        color: #7abfbf;
        padding: 10px;
    } 
    #details dd {
        color: #7abfbf;
        padding: 10px;
      
    }
    
    #dishes {
        display: flex;
    } 
    #nav nav ul {
        display: flex;
        text-align-last: right;
        inline-size: 70%;
        margin: auto;
        position: absolute;
        inset-block-start: 0;
        
         
        
    }
    #nav nav a {
        display: inline-flex;
        font-size: 16px;
        text-decoration: none;
        padding: 10px;
}
}